rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Aturan untuk dokumen data pengguna
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Sub-koleksi moods
      match /moods/{moodId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // Sub-koleksi journals
      match /journals/{journalId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // Sub-koleksi achievements
      match /achievements/{achievementId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
  }
}
